.animal {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid green;
  border-radius: 10px;
}

.animal img {
  margin-right: 1rem;
}

@media screen and (min-width: 600px) {
  .animal {
    margin: 0;
  }
}
